@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightpurple: #cdb4db;
  --lightPink: #ffc8dd;
  --darkpink: #ffafcc;
  --darkerpink: #cc8ba2;
  --lightBlue: #bde0fe;
  --slightDarkBlue: #a2d2ff;
  --darkBlue: #789dbf;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
body {
  @apply w-screen h-full bg-gradient-to-b from-blue-50 to-pink-100 overflow-x-hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* {
  @apply text-black;
}

.afterSkill:hover::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: -4px;
  -z-index: 10;
  left: 0;
  border-radius: 0px 0px 5px 5px;
  background-color: rgb(171, 215, 255);
  animation: drop 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(#a2d2ff, #ffafcc);
  border: black 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  /* background: var(--darkpink); */
  background: linear-gradient(#ffafcc, #a2d2ff);
  border-radius: 50px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
